<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Responsive Web Design</title>
    <meta name="description" content="Responsive Web Design">
    <meta name="author" content="Jasper Wagen">

    <link rel="stylesheet" type="text/css" href="static/css/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <body>
        <h1>Task Timeline</h1>
        <p id="date"></p>
        <ul>
          <li class="list">Edit the head</li>
          <li class="list">Edit the body</li>
          <li>Link to JavaScript</li>
        </ul>
      </body>
    </html>
    <script src="static/js/scripts.js"></script>
    <noscript>You need to enable JavaScript to view the full site.</noscript>
</body>
</html>